* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-swe.pc.in -text
/apertium-swe.post-swe.dix -text
/apertium-swe.swe.acx -text svneol=unset#text/plain
/apertium-swe.swe.dix -text
/apertium-swe.swe.rlx -text
/apertium-swe.swe.tsx -text
/autogen.sh -text
/configure.ac -text
dev/adj[!!-~](5e).wiktionary-infl.speling -text
dev/apertium-swe-dan.swe-dan.rlx -text
dev/apertium-swe-dan.swe.comments.tsx -text
dev/apertium-swe-dan.swe_old.tsx -text
dev/apertium-swe.pre-saldo-swe.dix -text
dev/make-ngrams.sh -text
dev/saldo/maybe-missing-from-saldo -text
dev/saldo/saldo-to-dix.py -text
dev/saldo/scrape-paradigms.sh -text
dev/saldo/swe-words-paradigms.txt -text
dev/swe-nor.prob -text svneol=unset#unset
dev/vb.wiktionary-infl.speling -text
dev/vin_coding_challenge/README.md -text
dev/vin_coding_challenge/convert.py -text
dev/vin_coding_challenge/mapping -text
dev/vin_coding_challenge/sv-da.udpipe -text
dev/vin_coding_challenge/sv-ud-train.aptags.conllu -text
dev/vin_coding_challenge/sv-ud-train.conllu -text
dev/wiktionary-nouns.speling -text
/modes.xml -text
/swe.prob -text
/test-scandivoc -text
texts/isbrytning.txt -text
texts/isbrytning.vislcg.txt -text
texts/kalmar.txt -text
texts/ngrams.1 -text
texts/ngrams.2 -text
texts/ngrams.3 -text
texts/ngrams.4 -text
texts/ngrams.5 -text
texts/puupankki/puupankki.vislcg -text
texts/tid.tagged.txt -text
texts/udhr.txt -text
