* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-swe.pc.in -text
/apertium-swe.swe.dix -text
/apertium-swe.swe.rlx -text
/autogen.sh -text
/configure.ac -text
dev/adj[!!-~](5e).wiktionary-infl.speling -text
dev/saldo/saldo.nouns.dix -text
dev/vb.wiktionary-infl.speling -text
dev/wiktionary-nouns.speling -text
/modes.xml -text
/swe.prob -text svneol=unset#unset
